body {
    background-color: #202020; /* change background color here */
    color: #ffffff /* and font color here */
}

.highlight-green {
    color: #008000;
    font-weight: bold;
}

.highlight-red {
    color: #ff0000;
    font-weight: bold;
}

.fixcross {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color:rgb(242, 242, 242);
}

.up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#endtask {
    position: absolute;
    width:66vh;
    height:66.67vh;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background-color: #ff0000;
  }